body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, rgb(1, 251, 1), rgb(4, 4, 253));
    padding: 0;
    margin: 0;
    padding-bottom: 100px;

}

header{
    text-align: center;
}

.active{
    background-color: rgb(13, 0, 255) ;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(121, 110, 110);

    h1{
        background-color: black;
        padding: 10;
        margin: 0;
    }
}

li{
    float: left;
}

li a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}

li a:hover:not(.active){
    background-color: rgb(54, 52, 52) ;

}

h1{
    background-color: black;
    padding: 10;
    margin: 0;
    color:  rgb(1, 251, 1) ;
}
 
footer{
    background-color: rgb(132, 0, 255);
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}